<img src="https://drive.google.com/uc?id=1SOzRTjUt7cuBJpSqoK90fcAiKBrnpUJo" width="400">

**Data:** 18/04/2024 <br>
**Aluno(a):** Samuel Menezes Ribeiro De Moraes <br>
**Matrícula:** 2417687 <br>

# Avaliação Formativa 2

## Normas e exigências
- **Data de entrega**: 19/04/2024
- **Pontuação total**: 02 pontos

## Observações
- É considerada uma questão válida àquela que, **limitada aos conhecimentos aprendidos em sala de aula**, resultar em saída de dados correta para toda e qualquer instância do problema.

## Questão 1

Calcule a média de quatro números inteiros dados.

#### Pseudocódigo
```java
ALGORTIMO Media
DECLARE num1, num2, num3, num4: REAL

INICIO

    ESCREVA "Digite o número 1:"
    LEIA num1
    ESCREVA "Digite o número 2:"
    LEIA num2
    ESCREVA "Digite o número 3:"
    LEIA num3
    ESCREVA "Digite o número 4:"
    LEIA num4
    media <- (num1 + num2 + num3 + num4)/4
    ESCREVA "A média é", media

FIM
```

### Implementação em Python

In [12]:
def soma_numerica():
    """
    Escreva os quatro números para obter a média
    """

    print("Digite aqui o número: ")
    num1 = float(input("Número 1: "))
    print("Digite aqui o número: ")
    num2 = float(input("Número 2: "))
    print("Digite aqui o número: ")
    num3 = float(input("Número 3: "))
    print("Digite aqui o número: ")
    num4 = float(input("Número 4: "))

    media = (num1 + num2 + num3 + num4) / 4

    print("A média é", media)

In [15]:
soma_numerica()

Digite aqui o número:
Número 1: 7
Digite aqui o número:
Número 2: 8
Digite aqui o número:
Número 3: 3
Digite aqui o número:
Número 4: 4
A média é 5.5

## Questão 2

Leia uma temperatura dada em Celsius (C) e imprima o equivalente em Fahrenheit (F). (Fórmula de conversão: F = (9/5) * C + 32)

#### Pseudocódigo
```java
ALGORTIMO ConverteCelsiusFarenheit
DECLARE C, F: REAL

INICIO

    ESCREVA "Digite a temperatura em Celisus:"
    LEIA C
    F <- (9/5) * C + 32
    ESCREVA "A temperatura em Fahrenheit é", F, "graus"

FIM
```

### Implementação em Python

In [27]:
def celsius_f():
    """
    Escreva o C para obter o F
    """

    print("Escreva a tempetura em C:")
    celsius = float(input())
    Fahrenheit = (9/5) * celsius + 32
    print("A temperatura em Fahrenheit é", Fahrenheit, "graus")

In [28]:
celsius_f()

Escreva a tempetura em C:
27
A temperatura em Fahrenheit é 80.6 graus

## Questão 3

Receba dois números reais e um operador e efetue a operação correspondente com os valores recebidos (operandos).<br>
O algoritmo deve retornar o resultado da operação selecionada simulando todas as operações de uma calculadora simples.

### Pseudocódigo (1 ponto)

```java
ALGORITMO CalculadoraSimples
DECLARE op: INTEIRO; num1,num2,res: REAL

INICIO

    ESCREVA "Operações válidas: 1(soma), 2(subtração), 3(multiplicação) e 4(divisão)"
    ESCREVA "Digite uma operação:"
    LEIA op
    ESCREVA "Digite um número:"
    LEIA num1
    ESCREVA "Digite outro número:"
    LEIA num2
    ESCOLHA
        CASO op == 1
            res = num1 + num2
            ESCREVA num1, "+", num2, "=", res
        CASO op == 2
            res = num1 - num2
            ESCREVA num1, "-", num2, "=", res
        CASO op == 3
            res = num1 * num2
            ESCREVA num1, "*", num2, "=", res
        CASO op == 4
            SE num2 != 0 ENTAO
                res = num1 / num2
                ESCREVA num1, "/", num2, "=", res
            SENAO
                ESCREVA "Impossível dividir!"
            FIM_SE
    SENAO
        ESCREVA "Operação inválida!"
    FIM_ESCOLHA

FIM
```

### Implementação em Python

In [109]:
def calculadora():
    """
    Uma calculadora simples
    """

    op = input("Operações válidas: 1(soma), 2(subtração), 3(multiplicação) e 4(divisão)\nDigite uma operação: ")
    num1 = float(input("Digite um número: "))
    num2 = float(input("Digite outro número: "))

    if op == '1':
            res = num1 + num2
            print(num1, "+", num2, "=", res)
    elif op == '2':
            res = num1 - num2
            print(num1, "-", num2, "=", res)
    elif op == '3':
            res = num1 * num2
            print(num1, "*", num2, "=", res)
    elif op == '4':
                if num2 != 0:
                    res = num1 / num2
                print(num1, "/", num2, "=", res)
    else:
                print("Operação inexistente")

In [108]:
calculadora()

Operações válidas: 1(soma), 2(subtração), 3(multiplicação) e 4(divisão)
Digite uma operação: 7
Digite um número: 4
Digite outro número: 4
Operação inexistente

## Questão 4 (1 ponto)

Elaborar um algoritmo que, dada a idade, classifique nas categorias: infantil A (5 - 7 anos), infantil B (8 -10 anos), juvenil A (11 - 13 anos), juvenil B (14 -17 anos) e adulto (maiores que 18 anos).

### Pseudocódigo (1 ponto)

```java
ALGORTIMO ClassificaCategoria
DECLARE idade: INTEIRO

INICIO

    ESCREVA "Digite a idade do aluno:"
    LEIA idade
    ESCOLHA
        CASO idade >=5 E idade <= 7
            ESCREVA "Infantial A"
        CASO idade >=8 E idade <= 10
            ESCREVA "Infantial B"
        CASO idade >=11 E idade <= 13
            ESCREVA "Juvenil A"
        CASO idade >=14 E idade <= 17
            ESCREVA "Juvenil B"
        CASO idade >=18
            ESCREVA "Adulto"
    SENAO
        ESCREVA "Digite uma idade válida!"
    FIM_ESCOLHA

FIM
```

### Implementação em Python

In [118]:
def classificar_categoria():
    """
    Declarar categorias baseado nas idades.
    """

    idade = int(input("Digite a idade aqui: "))
    if idade >= 5 and idade <=7:
        print("Está na categoria: Infantil A.")
    elif idade >= 8 and idade <=10:
        print("Está na categoria: Infantil B.")
    elif idade >= 11 and idade <=13:
        print("Está na categoria: Juvenil A.")
    elif idade >= 14 and idade <=17:
        print("Está na categoria: Juvenil B.")
    elif idade >= 18:
        print("Está na categoria: Adulto.")

In [119]:
classificar_categoria()

Digite a idade aqui: 18
Está na categoria: Adulto.